@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button {
    @apply bg-sky-300 border border-sky-600 px-4 py-2 rounded-lg;
  }
}


/**
 * Scale image to the full width of the page
 */
.img-full {
	width: 100%;
}

/**
 * Style link to look like a button
 */
.btn {
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 0.1875em;
	color: #000000;
	padding: 0.5em 1em;
	text-decoration: none;
}
